<header>
    <nav class="c-container navigation">
        <div class="logo-container">
            <a href="/"> <img src="../../../../assets/icons/ModishCard_Logo6-02.svg" id="logo"
                    alt="Modish Card"></a>
        </div>
        <div class="nav-list-1">
            <ul>
                <li><a href="/">For Individuals</a></li>
                <li><a href="#">For Business </a></li>
                <li><a href="#">Explore <img src="../../../../assets/icons/dropdown-icon.png" alt=""></a></li>
                <li><a href="#">Pricing</a></li>
                <li class="list-login-page-1"><a class="login-page" [routerLink]="[ '/login' ]">Log In</a></li>
            </ul>
            <div class="dropdown">
                <span><i class="fas fa-caret-down"></i></span>
                <div class="dropdown-content">
                    <li><a href="#">For Individuals</a></li>
                    <li><a href="#">For Business </a></li>
                    <li><a href="#">Explore <img src="../../../../assets/icons/dropdown-icon.png" alt=""></a></li>
                    <li><a href="#">Pricing</a></li>
                    <li class="list-login-page"><a class="login-page"  [routerLink]="[ '/login' ]">Log In</a></li>
                </div>
            </div>
        </div>
    </nav>
</header>