<div style="width: 100%; position: relative;    height: 85vh;">
    <img src="../../assets/images/login_bg_3.svg" style="width: 100%;position: absolute;top: -20%;left: 0;" />
    <div style="position: absolute;top: 35%; text-align: center;width: 100%; display: flex; justify-content: center;">
        <div *ngIf="user == null">
            <div *ngIf="!otpSent">
                <h1
                    style=" margin-top: 0px; font-family: Cousine; font-style: normal;font-weight: normal;font-size: 35.1379px;line-height: 57px;">
                    Log In</h1>
                <p
                    style="font-family: Cousine;font-style: normal;font-weight: normal;font-size: 15.3165px;line-height: 25px;color: #575757;">
                    Enter your Phone Number associated with your
                    <br />Modishcard Account
                </p>
                <div style="width: auto; margin-top: 20px;">

                    <div class="input-group mb-3">
                        <div style="width: 60px;">
                            <img style="width: 100%;" src="../../assets/images/india_flag.svg" />
                        </div>
                        <div style="width: calc(100% - 60px);">
                            <div class="input-group mb-3"
                                style="border: 0.5px solid #CCCCCC; border-radius: 3px; background: #fafafa; margin-left: 10px;">
                                <div class="input-group-prepend">
                                    <label style="    padding: 4.5px;">+91</label>
                                </div> <input [(ngModel)]="phone" type="tel" maxlength="10"
                                    style="border: none; background: #fafafa" class="form-control" />
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div *ngIf="otpSent">
                <h1
                    style=" margin-top: 0px; font-family: Cousine; font-style: normal;font-weight: normal;font-size: 35.1379px;line-height: 57px;">
                    Enter OTP code to verify</h1>
                <p
                    style="font-family: Cousine;font-style: normal;font-weight: normal;font-size: 15.3165px;line-height: 25px;color: #575757;">
                    Enter the 6 digit OTP sent to your mobile number
                    <br /><b style="font-size: 20px; margin: 10px;  display: inherit;">+91{{phone}}</b>
                </p>
                <input [(ngModel)]="code" type="tel" maxlength="6" style="border: 0.5px solid #CCCCCC; border-radius: 3px; background: #fafafa; letter-spacing: 18px;width: 180px;   margin: 0 auto;   margin-top: 12px;" class="form-control" />
            </div>
            <div style="width: auto; margin-top: 20px;font-size: 12px;font-family: Noto Sans;">
                <label style="color: #A3A3A3;"
                    [innerHTML]="!otpSent?'Don’t have an account?':'Did not recieve OTP?'"></label>
                <label style="color: #71C8FF; margin-left: 5px;" [innerHTML]="!otpSent?'Create Account?':'Resend OTP'">
                </label>

                <label style="color: #71C8FF; margin-left: 25px;font-size: 18px;font-family: Roboto;"
                    [innerHTML]="!otpSent?'Next':'Verify Now'"></label>
                <img (click)="sendOpt()" id="sign-in-button" src="../../assets/images/next_ciricle.svg"
                    style="width: 30px; cursor: pointer; margin-left: 10px;" />

            </div>
        </div>
        <div  *ngIf="user != null">
            Logged In
        </div>
    </div>
</div>