<img src="../assets/background-images/background-img-2.png" alt="" class="banner-top-left">
<img src="../assets/background-images/background-img-1.png" alt="" class="banner-top-right">
<app-main-header></app-main-header>
<router-outlet></router-outlet>
<app-main-footer></app-main-footer>
