<footer class="fluid-container">
    <img src="../../../../assets/icons/Footer/Footer Background.svg" class="footer-img-right" alt="">
    <div class="c-container">
        <div class="modishcard-lists-footer">
            <div class="list-type-b-i">
                <h4>Modishcard</h4>
                <ul>
                    <li><a href="#">For Individuals</a></li>
                    <li><a href="#">For Business</a></li>
                </ul>
            </div>
            <div class="list-type-explore">
                <h4>Explore</h4>
                <ul>
                    <li><a href="#">Our Digital Cards</a></li>
                    <li><a href="#">Smart Networking</a></li>
                    <li><a href="#">Chat Integrations</a></li>
                </ul>
            </div>
            <div class="social-media">
                <h4>Follow Us On</h4>
                <div class="social-media-icons">
                    <div class="box-social-media-container">
                    </div>
                    <div class="box-social-media-container">
                    </div>
                    <div class="box-social-media-container">
                    </div>
                    <div class="box-social-media-container">
                    </div>
                </div>
            </div>
            <div class="footer-qr-code">
                <h1>Get To Know More About Modishcards</h1>
                <img src=" ../../../../assets/icons/Footer/QR Code.svg" alt="">
                <div class="scan-qr-code">
                    <img src="../../../../assets/icons/Footer/scan-qr-code.svg" alt=""><span>Scan The QR Code to know us more</span>
                </div>
            </div>
        </div>
        <div class="modish-card-copyright">
            <p>Modish Card © 2021. All Rights Reserved.</p>
        </div>
    </div>
</footer>