/* You can add global styles to this file, and also import other style files */
button:hover{
        transform: translateY(-3px);
    box-shadow: 0 4px 17px rgb(0 0 0 / 35%);
}




body {
    margin: 0 auto;
    background-color: #ffffff;
  }
  
  body h1, h2, h3, h4, h5, h6, p, span, a, li, img {
    margin: 0;
    padding: 0;
  }
  
  .c-container {
    width: 80%;
    margin: 0 auto;
  }
  .fluid-container {
      width: 100%;
  }
  header {
    background-color: #ffffff;
    position: sticky;
    top: 0;
    z-index: 4;
    box-shadow: 0 1px 0px 1px #E5E5E5;
  }
  
  nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
    font-family: 'Noto Sans', sans-serif;
  }
  
  .logo-container {
    align-items: center;
    display: flex;
    width: 30%;
  }
  #logo {
    width: 5em;
  }
  .nav-list-1 {
    width: 70%;
  }
  
  .nav-list-1 ul {
    margin: 0;
    justify-content: flex-end;
    list-style-type: none;
    display: flex;
  }
  
  .nav-list-1 ul li {
    padding: 0 15px;
  }
  
  .nav-list-1 ul li a {
    font-weight: 400;
    font-size: 0.875em;
    color: #222221;
    text-decoration: none;
  }
  .nav-list-1 ul li a:hover {
border-bottom: 1px solid #71C8FF;
box-sizing: border-box;
border-radius: 2px;
transform: matrix(1, 0, 0, -1, 0, 0);
  }
  
  .login-page {
    color: #ffffff !important;
    background-color: #43a4e1;
    border-radius: 4px;
    padding: 10px 2.5em;
    font-size: 0.933125em;
  }
  
  .dropdown {
    display: none;
  }
  
  /* main section  */
  .banner-top-left {
    position: absolute;
    z-index: -1;
    top: 0;
    left: 0;
  }
  
  .banner-top-right {
    z-index: -1;
    position: absolute;
    top: 2em;
    right: 0;
  }
  
  main {
    position: relative;
  }
  
  .first-section {
    padding: 5em 0 5em 0;
    display: flex;
    justify-content: space-between;
  }
  
  .create-a-card {
    padding: 5em 0;
    width: 35%;
  }
  
  .important-text {
    font-weight: normal;
    font-size: 0.7318em;
    color: #2080BC;
  }
  
  .create-a-card h1 {
    width: 90%;
    font-weight: 500;
    font-size: 2.7em;
    color: #191847;
  }
  
  .create-a-card p {
    font-weight: normal;
    font-size: 0.96em;
    color: #A2A2A2;
  }
  
  .create-a-card button {
    margin-top: 3em;
    background: #8DD2C6;
    border-radius: 4.30968px;
    color: #ffffff;
    font-size: 1.075em;
    border: 0;
    padding: 10px 1.5em;
    cursor: pointer;
  }
  
  /* moidsh-section  */
  .moidsh-section {
    position: relative;
    width: 65%;
    display: flex;
    justify-content: flex-end;
  }
  
  .modish-banner {
    width: 70%;
  }
  
  /* list section  */
  .ai-scanner-svg {
    width: 31px;
    height: 31px;
  }
  
  .section-list {
    font-family: 'Roboto', sans-serif;
    display: flex;
    justify-content: space-between;
  }
  
  .box-list-container {
    padding: 2em 2em;
    background: #FFFFFF;
    box-shadow: 0px 0px 5.67418px rgba(30, 30, 30, 0.06);
    border-radius: 5.26423px;
    width: 20%;
    text-align: center;
  }
  
  .box-list-container h3 {
    font-style: normal;
    font-weight: bolder;
    font-size: 14.3646px;
    line-height: 17px;
    color: #4A4A4A;
    margin: 10px 0;
  }
  
  .box-list-container p {
    font-weight: 300;
    font-size: 11.0807px;
    line-height: 13px;
    color: #A2A2A2;
  }
  
  .box-img-list {
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 0 auto 15px auto;
    width: 55.8px;
    height: 55.8px;
    border-radius: 15px;
    background: #FFFFFF;
    box-shadow: 0px 4.21138px 4.21138px rgba(67, 164, 225, 0.73);
  }
  
  
  /* how-modishcard-works */
  .how-modishcard-works {
    padding: 5em 0;
    font-family: 'Noto Sans', sans-serif;
    display: flex;
    justify-content: space-between;
    align-items: center;
  }
  
  .how-does-modishcard-works-infos {
    padding: 0 5em;
  }
  
  .how-does-modishcard-works-infos h1 {
    font-weight: 500;
    font-size: 33.4061px;
    line-height: 45px;
    color: #5F5F5F;
  }
  
  .how-does-modishcard-works-infos h6 {
    font-style: normal;
    margin-top: 1em;
    font-weight: 500;
    font-size: 16.3462px;
    line-height: 22px;
    color: #8C8C8C;
  }
  
  .how-does-modishcard-works-infos p {
    font-style: normal;
    font-weight: 500;
    font-size: 16.3462px;
    line-height: 22px;
    color: #ABABAB;
  }
  
  .learn-more-about-digital-card {
    margin-top: 7px;
  }
  
  .learn-more-about-digital-card a {
    text-decoration: none;
    color: #8DD2C6;
    font-family: 'Roboto';
    font-style: normal;
    font-weight: normal;
    font-size: 14.3281px;
    line-height: 17px;
  }
  
  .learn-more-about-digital-card span {
    border-bottom: 1.14081px solid #8DD2C6;
  }
  
  .create-your-own {
    margin-top: 2em;
    justify-content: flex-end;
    align-items: center;
    display: flex;
  }
  
  .create-your-own a {
    text-decoration: none;
  }
  
  .create-your-own span {
    font-family: 'Roboto';
    font-style: normal;
    font-weight: normal;
    font-size: 14.3281px;
    line-height: 17px;
    color: #71C8FF;
  }
  
  .click-throught {
    margin-left: 10px;
    display: flex;
    justify-content: center;
    align-items: center;
    border: 1px solid #DCDCDC;
    height: 53px;
    width: 55px;
    border-radius: 50%;
  }
  
  /* modishcard-members */
  .modishcard-members {
    font-family: 'Noto Sans';
  }
  
  .modishcard-memebers-grid {
    margin-top: 3em;
    display: grid;
    gap: 1em;
    grid-template-columns: repeat(3, 33%);
  }
  
  .title-modishcard-members-title h1 {
    font-weight: 500;
    font-size: 1.69991875em;
    line-height: 37px;
    color: #787878;
  }
  
  .title-modishcard-members-title span {
    color: #0d6fad;
  }
  
  .grid-items {
    align-items: center;
    display: flex;
  }
  
  .grid-item-container {
    background: #FFFFFF;
    box-shadow: 0px 0px 3.75197px rgba(90, 90, 90, 0.25);
    display: flex;
    align-items: center;
    width: 261px;
    height: 40px;
    padding: 0.7em;
  }
  
  .grid-item-container h5 {
    margin-left: 1em;
    font-style: normal;
    font-family: 'Open Sans';
    font-weight: 600;
    font-size: 18.352px;
    line-height: 25px;
    color: #475D76;
  }
  
  .grid-img {
    width: 37.29px;
    height: 32.48px;
  }
  
  .arrow-expand {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 40px;
    margin-left: 5px;
    height: 40px;
    padding: 0.7em;
    box-shadow: 0px 0px 3.75197px rgba(90, 90, 90, 0.25);
    border-radius: 0 15px 15px 0;
  }
  /* smart networking section  */
  .smart-networking {
    font-family: 'Noto Sans';
    font-style: normal;
    width: 80%;
    padding: 5em 3em;
    display: flex;
    align-items: center;
    background-color: #f3fffd;
}
  .s-networking {
      width: 100%;
      margin-top: 5em;
      display: flex;
      justify-content: flex-end;
  }
  .smart-networking-description h1 {
    font-weight: 500;
    font-size: 29.2828px;
    line-height: 40px;
    color: #787878;
  }
  .smart-networking-description h6 {
    margin: 2em 0 0.5em 0;
    font-weight: 500;
    font-size: 14.3286px;
    line-height: 20px;
    color: #8C8C8C;
  }
  .smart-networking-description p {
    width: 65%;
    font-weight: normal;
    font-size: 14.3286px;
    line-height: 20px;
    color: #ABABAB;
    margin-bottom: 1em;
  }
  .smart-networking-description a {
    font-weight: normal;
    font-size: 14.3281px;
    line-height: 17px;
    text-decoration: none;
    color: #8DD2C6;
  }
  .smart-networking-description span {
      border-bottom: 1px solid #8DD2C6;
  }
  /* crm integration section  */
  .crm-integr {
      font-family: 'Noto Sans';
      font-style: normal;
      margin-top: 5em;
  }
.crm-integration-100 {
    width: 80%;
    background-color: #F4FBFF;
}
  .crm-integration {
    padding: 5em 3em;
    display: flex;
    align-items: center;
    background-color: #F4FBFF;
  }
  .crm-integration-description {
      margin-left: 2em;
  }
  .crm-integration-description h1 {
    font-weight: 500;
    font-size: 29.2828px;
    line-height: 40px;
    color: #787878;
  }
  .crm-integration-description h6 {
    margin: 2em 0 0.5em 0;
    font-weight: 500;
    font-size: 14.3286px;
    line-height: 20px;
    color: #8C8C8C;
  }
  .crm-integration-description p {
    width: 65%;
    margin-bottom: 1em;
    font-weight: normal;
    font-size: 14.3286px;
    line-height: 20px;
    color: #ABABAB;
  }
  .crm-integration-description a {
    font-weight: normal;
    font-size: 14.3281px;
    line-height: 17px;
    text-decoration: none;
    color: #8DD2C6;
  }
  .crm-integration-description span {
    border-bottom: 1px solid #8DD2C6;
  }
  /* digital-business-cards */
  .digital-business-cards {
    font-family: 'Noto Sans';
    font-style: normal;
    display: flex;
    justify-content: space-between;
    align-items: center;
  }
  
  .digital-business-descriptions {
    padding: 0 5em;
  }
  .digital-business-descriptions h1 {
font-weight: 500;
font-size: 33.4061px;
line-height: 45px;
color: #787878;
  }
  .digital-business-descriptions h6 {
    margin: 2em 0 0.5em 0;
    font-weight: 500;
font-size: 16.3462px;
line-height: 22px;
color: #8C8C8C;
  }
 .digital-business-descriptions p {
  width: 80%;
  margin-bottom: 1em;
  font-weight: normal;
  font-size: 16.3462px;
  line-height: 22px;
  color: #ABABAB;
 }
 .digital-business-descriptions a {
  font-family: Roboto;
  font-style: normal;
  font-weight: normal;
  font-size: 14.3281px;
  line-height: 17px;
  text-decoration: none;
  color: #8DD2C6;
  border-bottom: 1.14081px solid #8DD2C6;
 }
 .bar {
   display: flex;
   justify-content: space-evenly;
   align-items: center;
   margin: 0 10px;
   width: 67px;
   height: 23.69px;
   border-radius: 676.768px;
   background-color: #F3F3F3;
 }
 .slide-show {
   margin: 5em 0 2.5em 0;
   justify-content: center;
   display: flex;
 }
 .business-switch {
  font-weight: normal;
  font-size: 18.9126px;
  line-height: 26px;
  color: #71C8FF;
 }
 .individual-switch {
  font-weight: normal;
  font-size: 18.9126px;
  line-height: 26px;
  color: #C4C4C4;
 }
 .business-bar {
   width: 17px;
   height: 17px;
   background-color: #71C8FF;
   border-radius: 100%;
 }
 .individual-bar {
  width: 17px;
  height: 17px;
  background-color: #FFC1C1;;
  border-radius: 100%;
 }
 .carousel-control-next, .carousel-control-prev {
   position: relative;
 }
 .digital-business-banner img {
   width: 476px;
   height: 426px;
 }
 .carousel-indicators {
   display: none;
 }
/* pricing details descriptions sectopm */
.pricing-container {
  font-family: 'Noto Sans';
  font-style: normal;
  align-items: flex-start;
  margin-top: 5em;
  display: flex;
}
.banner-pricing-plans img{
  width: 476px;
  height: 426px;
}
.pricing-details-descriptions {
  padding: 0 5em;
  position: relative;
  top: 3em;
}
.pricing-details-descriptions h1 {
font-weight: 500;
font-size: 33.4061px;
line-height: 45px;
color: #787878;
}
.pricing-details-descriptions h5 {
margin: 2em 0 0.5em 0;
font-weight: 500;
font-size: 11.8401px;
line-height: 16px;
color: #71C8FF;
}
.pricing-details-descriptions h6 {
font-style: normal;
font-weight: 600;
font-size: 16.3462px;
line-height: 22px;
color: #8C8C8C;
}
.pricing-details-descriptions p {
  margin-bottom: 1em;
  width: 80%;
  font-style: normal;
  font-weight: 500;
  font-size: 16.3462px;
  line-height: 22px;
  color: #8C8C8C;
}
.pricing-details-descriptions a {
  font-family: 'Roboto';
  font-style: normal;
  font-weight: normal;
  text-decoration: none;
  font-size: 14.3281px;
  line-height: 17px;
  color: #8DD2C6;
  border-bottom: 1.14081px solid #8DD2C6;
}
.label-price {
  position: relative;
  right: 2.1em;
  top: 3.6em;
  z-index: -1;
}
/* Footer section  */
footer {
  font-family: 'Noto Sans';
  font-style: normal;
  position: relative;
  background-color: #BEE6FF;
  border-radius: 91px 91px 0px 0px;
}
.footer-img-right {
  position: absolute;
  right: 0;
  bottom: 0;
}
.modishcard-lists-footer {
  padding: 3em 0;
  display: grid;
  grid-template-columns: 20% 20% 20% 40%;
}
.modishcard-lists-footer ul {
  padding: 0;
  list-style-type: none;
}
.modishcard-lists-footer ul li {
 
  padding: 0;
  margin: 10px 0;
}
.modishcard-lists-footer ul li a {
border-bottom: 1px dashed #FFFFFF;
font-weight: normal;
font-size: 16px;
line-height: 22px;
color: #33B0FF;
text-decoration: none;
}
.modishcard-lists-footer h4 {
  font-weight: 500;
  font-size: 18px;
  line-height: 25px;
  color: #0D6FAD;
}
.social-media .box-social-media-container {
  width: 28px;
  height: 28px;
  border: 1.07692px solid #54BDFF;
box-sizing: border-box;
border-radius: 4.30769px;
}
.social-media-icons {
  display: flex;
}
.box-social-media-container {
  margin-top: 10px;
  margin-right: 5px;
}
.footer-qr-code {
  display: flex;
  flex-direction: column;
  align-items: center;
}
.footer-qr-code h1 {
font-weight: 600;
font-size: 18px;
line-height: 25px;
color: #FFFFFF;
}
.footer-qr-code img {
  margin: 10px 0;
}
.scan-qr-code img {
  margin-right: 8px;
}
.scan-qr-code span {
font-weight: 600;
font-size: 10px;
line-height: 14px;
color: #40B5FF;
}
.modish-card-copyright {
border-top: 1px solid #77CAFF;
transform: matrix(1, 0, -0.01, 1, 0, 0);
}
.modish-card-copyright p {
padding: 15px 0;
font-weight: normal;
font-size: 10.93px;
line-height: 15px;
color: #0D6FAD;
}
.modish-card-copyright span {
  color: #ffffff;
}
  /* Media Query */
  /* Smartphone */
  @media (max-width: 400px) {
  
    /* header section  */
    .banner-top-left {
      width: 40%;
    }
  
    .nav-list-1 {
      font-family: 'Noto Sans', sans-serif;
      text-align: right;
    }
  
    .nav-list-1 ul {
      display: none;
    }
  
    .dropdown {
      position: relative;
      display: inline-block;
    }
  
    .dropdown-content {
      text-align: left;
      display: none;
      position: absolute;
      right: 0px;
      background-color: #f9f9f9;
      min-width: 200px;
      box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
      padding: 12px 16px;
      z-index: 1;
    }
  
    .dropdown:hover .dropdown-content {
      display: block;
    }
  
    .dropdown-content li {
      padding: 7px 0;
      list-style-type: none;
    }
  
    .dropdown-content li a {
      text-decoration: none;
      color: #222221;
    }
  
    .login-page {
      padding: 10px 3em;
    }
  
    .fa-caret-down {
      color: #8DD2C6;
      font-size: 50px;
    }
  
    /* first section  */
    .first-section {
      font-family: 'Noto Sans';
      font-style: normal;
      padding: 2em 0 1em 0;
      display: flex;
      flex-direction: column;
    }
  
    .create-a-card {
      margin: 0 0 3em 0;
      order: 2;
      width: 100%;
      padding: 0;
    }
    .create-a-card h1 {
      width: 100%;
    }
    .moidsh-section {
      order: 1;
      width: 100%;
      padding: 0 0 2em 0;
    }
  
    .modish-banner {
      width: 100%;
    }
  
    /* list section */
    .section-list {
      font-family: 'Roboto', sans-serif;
      display: flex;
      flex-direction: column;
      align-items: center;
    }
  
    .box-list-container {
      margin-bottom: 1em;
      width: 100%;
    }
  
    /* how-modishcard-works */
    .how-modishcard-works {
      font-family: 'Noto Sans', sans-serif;
      display: flex;
      flex-direction: column;
      padding: 2em 0;
    }
  
    .banner-modishcard-works img {
      width: 100%;
    }
  
    .how-does-modishcard-works-infos {
      padding: 0;
    }
  
    .create-your-own {
      margin: 1em 0 0 0;
    }
  
    /* modishcard-members */
    .modishcard-memebers-grid {
      font-family: 'Noto Sans';
      display: flex;
      flex-direction: column;
      margin-top: 1.5em;
    }
    /* smart networking section  */
    .fluid-container {
        background-color: #f3fffd;
    }
    .s-networking {
      font-family: 'Noto Sans';
        padding: 2em 0;
        width: 80%;
    }
    .smart-networking {
        display: flex;
        flex-direction: column;
        width: 100%;
        padding: 0;
    }
    .smart-networking-description p {
        width: 100%;
    }
    .smart-networking-banner {
        margin-top: 2em;
    }
    .smart-networking-banner img {
        width: 100%;
    }
     /* crm integration section  */
     .crm-integration-100 {
        font-family: 'Noto Sans';
        background-color: #F4FBFF;
        width: 100%;
     }
   .crm-integration {
       padding: 2em 0;
       width: 100%;
       display: flex;
       flex-direction: column;
   }
   .crm-integration-banner img {
       margin: 2em 0;
       width: 100%;
   }
   .crm-integration-description {
       margin: 0;
   }
   .crm-integration-description p {
       width: 100%;
   }
   /* digital business cards  */
   .digital-business-cards {
    font-family: 'Noto Sans';
     display: flex;
     flex-direction: column;
   }
   .digital-business-banner img {
     width: 100%;
   }
   .digital-business-descriptions {
     padding: 0;
   }
   .digital-business-descriptions p {
     width: 100%;
   }
   .slide-show {
     margin: 5em 0 0 0;
   }
   /* pricing details descriptions sectopm */
   .pricing-container {
    font-family: 'Noto Sans';
     display: flex;
     flex-direction: column;
   }
   
   .pricing-details-descriptions {
     position: relative;
     top: 0;
     padding: 0;
   }
   .pricing-details-descriptions p {
    width: 100%;
   }
   .banner-pricing-plans img {
     width: 100%;
     height: 100%;
   }
   /* footer section  */
   footer {
    font-family: 'Noto Sans';
    background: #BEE6FF!important;
     margin-top: 5em;
   }
   .modishcard-lists-footer {
     display: flex;
     flex-direction: column;
   }
   .list-type-explore {
     margin: 1em 0;
   }
   .footer-qr-code h1 {
     text-align: center;
     color: #0D6FAD;
   }
   .footer-qr-code {
     margin-top: 2em;
   }
   .modish-card-copyright span {
     color: #0D6FAD;
   }
  }
  
  /* Tablet */
  @media (min-width: 401px) and (max-width: 800px) {
    .banner-top-left {
      width: 60%;
    }
  
    .nav-list-1 {
      text-align: right;
      font-family: 'Noto Sans', sans-serif;
    }
  
    .nav-list-1 ul {
      display: none;
    }
  
    .dropdown {
      position: relative;
      display: inline-block;
    }
  
    .dropdown-content {
      text-align: left;
      display: none;
      position: absolute;
      right: 0px;
      background-color: #f9f9f9;
      min-width: 190px;
      box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
      padding: 12px 16px;
      z-index: 1;
    }
  
    .dropdown:hover .dropdown-content {
      display: block;
    }
  
    .dropdown-content li {
      padding: 7px 0;
      list-style-type: none;
    }
  
    .dropdown-content li a {
      text-decoration: none;
      color: #222221;
    }
  
    .login-page {
      padding: 10px 3em;
    }
  
    .fa-caret-down {
      color: #8DD2C6;
      font-size: 40px;
    }
  
    /* first section  */
    .first-section {
      font-family: 'Noto Sans';
      font-style: normal;
      padding: 2em 0 3em 0;
      display: flex;
      flex-direction: column;
    }
  
    .create-a-card {
      order: 2;
      width: 100%;
      padding: 2em 0;
    }
  
    .create-a-card h1 {
      width: 100%;
    }
  
    .moidsh-section {
      padding: 0em 0;
      width: 100%;
    }
  
    .modish-banner {
      width: 100%;
    }
  
    /* list section */
    .section-list {
      font-family: 'Roboto', sans-serif;
      display: flex;
      flex-direction: column;
      align-items: center;
    }
  
    .box-list-container {
      margin-bottom: 1em;
      width: 100%;
    }
  
    /* how-modishcard-works */
    .how-modishcard-works {
      font-family: 'Noto Sans', sans-serif;
      display: flex;
      flex-direction: column;
      padding: 2em 0;
    }
  
    .banner-modishcard-works {
      margin-bottom: 1em;
    }
  
    .banner-modishcard-works img {
      width: 100%;
    }
  
    .how-does-modishcard-works-infos {
      padding: 0;
    }
  
    .create-your-own {
      margin: 1em 0 0 0;
    }
  
    /* modishcard-members */
    .modishcard-memebers-grid {
      font-family: 'Noto Sans';
      display: flex;
      flex-direction: column;
      margin-top: 1.5em;
      align-items: center;
    }
    /* smart networking section  */
    .fluid-container {
        background-color: #f3fffd;
    }
    .s-networking {
      font-family: 'Noto Sans';
        padding: 2em 0;
        width: 80%;
    }
    .smart-networking {
        display: flex;
        flex-direction: column;
        width: 100%;
        padding: 0;
    }
    .smart-networking-description p {
        width: 100%;
    }
    .smart-networking-banner {
        margin-top: 2em;
    }
    .smart-networking-banner img {
        width: 100%;
    }
     /* crm integration section  */
     .crm-integration-100 {
      font-family: 'Noto Sans';
        background-color: #F4FBFF;
        width: 100%;
     }
   .crm-integration {
       padding: 2em 0;
       width: 100%;
       display: flex;
       flex-direction: column;
   }
   .crm-integration-banner img {
       margin: 2em 0;
       width: 100%;
   }
   .crm-integration-description {
       margin: 0;
   }
   .crm-integration-description p {
       width: 100%;
   }
   /* digital business cards  */
   .digital-business-cards {
    font-family: 'Noto Sans';
    display: flex;
    flex-direction: column;
  }
  .digital-business-banner img {
    width: 100%;
  }
  .digital-business-descriptions {
    padding: 0;
  }
  .digital-business-descriptions p {
    width: 100%;
  }
  .slide-show {
    margin: 5em 0 3em 0;
  }
    /* pricing details descriptions sectopm */
    .pricing-container {
      font-family: 'Noto Sans';
      display: flex;
      flex-direction: column;
      align-items: center;
    }
    .pricing-details-descriptions {
      position: relative;
      top: 0;
      padding: 0;
    }
    .pricing-details-descriptions p {
     width: 100%;
    }
    .banner-pricing-plans img {
      width: 100%;
      height: 100%;
    }
    /* footer section  */
   footer {
    font-family: 'Noto Sans';
    background: #BEE6FF!important;
    margin-top: 5em;
  }
  .modishcard-lists-footer {
    display: grid;
    grid-template-columns: repeat(2, 50%);
  }
  .list-type-explore {
    margin: 1em 0;
  }
  .footer-qr-code h1 {
    text-align: center;
    color: #0D6FAD;
  }
  .footer-qr-code {
    margin-top: 2em;
  }
  .modish-card-copyright span {
    color: #0D6FAD;
  }
  .list-type-explore { 
    margin: 0;
  }
  .footer-qr-code {
    margin: 0;
    text-align: center;
  }
  }
  
  /* Standard */
  @media (min-width: 801px) and (max-width: 1024px) {
    .logo-container {
      width: 10%;
    }
  
    .nav-list-1 {
      font-family: 'Noto Sans', sans-serif;
      width: 90%;
    }
  
    .nav-list-1 ul li {
      padding: 0 10px;
    }
  
    .first-section {
      font-family: 'Noto Sans';
      font-style: normal;
      padding: 2em 0 0 0;
    }
  
    .modish-banner {
      width: 100%;
    }
  
    .section-list {
      font-family: 'Roboto', sans-serif;
      display: grid;
      gap: 2em;
      grid-template-columns: 50% 50%;
    }
  
    .box-list-container {
      width: 80%;
    }
  
    /* how-modishcard-works */
    .how-modishcard-works {
      font-family: 'Noto Sans', sans-serif;
      display: flex;
      flex-direction: column;
      padding: 2em 0;
    }
  
    .banner-modishcard-works {
      margin-bottom: 1em;
    }
  
    .banner-modishcard-works img {
      width: 100%;
    }
  
    .how-does-modishcard-works-infos {
      padding: 0;
    }
  
    .create-your-own {
      margin: 1em 0 0 0;
    }
  
    /* modishcard-members */
    .modishcard-memebers-grid {
      font-family: 'Noto Sans';
      display: grid;
      grid-template-columns: repeat(2, 50%);
      margin-top: 1.5em;
    }
    /* smart networking section  */
    .fluid-container {
        background-color: #f3fffd;
    }
    .s-networking {
      font-family: 'Noto Sans';
        padding: 2em 0;
        width: 80%;
    }
    .smart-networking {
        display: flex;
        flex-direction: column;
        width: 100%;
        padding: 0;
    }
    .smart-networking-description p {
        width: 100%;
    }
    .smart-networking-banner {
        margin-top: 2em;
    }
    .smart-networking-banner img {
        width: 100%;
    }
     /* crm integration section  */
     .crm-integration-100 {
      font-family: 'Noto Sans';
        background-color: #F4FBFF;
        width: 100%;
     }
   .crm-integration {
       padding: 2em 0;
       width: 100%;
       display: flex;
       flex-direction: column;
   }
   .crm-integration-banner img {
       margin: 2em 0;
       width: 100%;
   }
   .crm-integration-description {
       margin: 0;
   }
   .crm-integration-description p {
       width: 100%;
   }
   /* digital business cards  */
   .digital-business-cards {
    font-family: 'Noto Sans';
    display: flex;
    flex-direction: column;
  }
  .digital-business-banner img {
    width: 100%;
  }
  .digital-business-descriptions {
    padding: 0;
  }
  .digital-business-descriptions p {
    width: 100%;
  }
  .slide-show {
    margin: 5em 0 3em 0;
  }
  /* pricing details descriptions sectopm */
  .pricing-container {
    font-family: 'Noto Sans';
    display: flex;
    flex-direction: column;
    align-items: center;
  }
  .pricing-details-descriptions {
    position: relative;
    top: 0;
    padding: 0;
  }
  .pricing-details-descriptions p {
   width: 100%;
  }
  .banner-pricing-plans img {
    width: 100%;
    height: 100%;
  }
   /* footer section  */
   footer {
    font-family: 'Noto Sans';
    background: #BEE6FF!important;
    margin-top: 5em;
  }
  .modishcard-lists-footer {
    display: grid;
    grid-template-columns: repeat(2, 50%);
  }
  .list-type-explore {
    margin: 1em 0;
  }
  .footer-qr-code h1 {
    text-align: left;
    color: #0D6FAD;
  }
  .footer-qr-code {
    display: flex;
    align-items: flex-start;
    margin-top: 2em;
  }
  .modish-card-copyright span {
    color: #0D6FAD;
  }
  .list-type-explore { 
    margin: 0;
  }
  .footer-qr-code {
    margin: 0;
  }
  }

  /* fixed nav */
  @media (min-width: 1025px) and (max-width: 1042px) {
    .logo-container {
      width: 20%;
    }
    .nav-list-1 {
      font-family: 'Noto Sans', sans-serif;
      width: 80%;
    }
    .first-section {
      font-family: 'Noto Sans';
      font-style: normal;
    }
    .section-list {
      font-family: 'Roboto', sans-serif;
    }
    .how-modishcard-works {
      font-family: 'Noto Sans', sans-serif;
    }
    .modishcard-memebers {
      font-family: 'Noto Sans';
    }
    .smart-networking {
      font-family: 'Noto Sans';
    }
    .crm-integr {
      font-family: 'Noto Sans';
    }
    .digital-business-cards {
      font-family: 'Noto Sans';
    }
    .pricing-container {
      font-family: 'Noto Sans';
    }
    footer {
      font-family: 'Noto Sans';
    }
  }
