<main>
    <section class="c-container first-section">
        <div class="create-a-card">
            <span class="important-text">Make Your First Impression Count!</span>
            <h1>Contactless Virtual Business Cards</h1>
            <p>Modish Card is a free Digital Business Card Designing Software built using <br>Blockchain helping you to
                expand your network and manage your connections.</p>
            <button type="button" class="create-card-button">Create A Card</button>
        </div>
        <div class="moidsh-section">
            <img src="../../assets/icons/card-img/banner-modish.svg" class="modish-banner" alt="">
        </div>
    </section>
</main>
<section class="c-container">
    <div class="section-list">
        <div class="box-list-container box-list-1">
            <div class="box-img-list">
                <img src="../../assets/icons/second-section-icons/endless possibilities.svg" alt="">
            </div>
            <h3>Endless possibilities</h3>
            <p>Join Modishcard community and take advantage of many features offered by us for individuals and
                enterprise.</p>
        </div>
        <div class="box-list-container box-list-2">
            <div class="box-img-list">
                <img src="../../assets/icons/second-section-icons/ai-scanner.svg" class="ai-scanner-svg" alt="">
            </div>
            <h3>AI Scanner</h3>
            <p>Smart Networking. Just scan your Physical Card with us and change into a Digital Business Card.</p>
        </div>
        <div class="box-list-container box-list-3">
            <div class="box-img-list">
                <img src="../../assets/icons/second-section-icons/For-individuals-professionals-and-business.svg" alt="">
            </div>
            <h3>For Individuals Professionals
                & Business</h3>
            <p>Modishcard is available for both individual and business. </p>
        </div>
        <div class="box-list-container box-list-4">
            <div class="box-img-list">
                <img src="../../assets/icons/second-section-icons/share-anywhere.svg" alt="">
            </div>
            <h3>Share Anywhere</h3>
            <p>Go Contactless. Share your Digital Business Card anywhere and everywhere with just a link or QR code.</p>
        </div>
    </div>
</section>
<section class="c-container">
    <div class="how-modishcard-works">
        <div class="banner-modishcard-works">
            <img src="../../assets/icons/third-section/how-does-modishcard-works.svg" alt="">
        </div>
        <div class="how-does-modishcard-works-infos">
            <h1>How Does Modishcard Works?</h1>
            <h6>Remain up-to-date with your main database.</h6>
            <p>The modern technique is via digital business cards to convey contact information. Digital business cards,
                also named virtual and electronic business cards, are more interactive, affordable and sustainable than
                their traditional
                counterparts. One of the biggest advantages of digital cards is to share them with everyone.</p>
            <div class="learn-more-about-digital-card">
                <a href="#"><span>Learn More About Digital Business Card</span></a>
            </div>
            <div class="create-your-own">
                <a href="#"><span>Create Your Own. It's Free</span></a>
                <div class="click-throught"><a href="#"><img src="../../assets/icons/third-section/create-your-own-arrow.svg"
                            alt=""></a></div>
            </div>
        </div>
    </div>
</section>
<section class="c-container">
    <div class="modishcard-members">
        <div class="title-modishcard-members-title">
            <h1>What do we offer to <span>ModishCard Members?</span></h1>
        </div>
        <div class="modishcard-memebers-grid">
            <div class="grid-items">
                <div class="grid-item-1 grid-item-container">
                    <img src="../../assets/icons/modishcard-memebers/Customize-profile.svg" class="grid-img" alt="">
                    <h5>Customize Profile</h5>
                </div>
                <div class="arrow-expand">
                    <a href="#"><img src="../../assets/icons/modishcard-memebers/left-arrow-vector.svg" alt=""></a>
                </div>
            </div>
            <div class="grid-items">
                <div class="grid-item-1 grid-item-container">
                    <img src="../../assets/icons/modishcard-memebers/contactless-sharing.svg" class="grid-img" alt="">
                    <h5>Contactless Sharing</h5>
                </div>
                <div class="arrow-expand">
                    <a href="#"><img src="../../assets/icons/modishcard-memebers/left-arrow-vector.svg" alt=""></a>
                </div>
            </div>
            <div class="grid-items">
                <div class="grid-item-1 grid-item-container">
                    <img src="../../assets/icons/modishcard-memebers/Automate-updating.svg" class="grid-img" alt="">
                    <h5>Automate Updating</h5>
                </div>
                <div class="arrow-expand">
                    <a href="#"><img src="../../assets/icons/modishcard-memebers/left-arrow-vector.svg" alt=""></a>
                </div>
            </div>
            <div class="grid-items">
                <div class="grid-item-1 grid-item-container">
                    <img src="../../assets/icons/modishcard-memebers/Automate-updating.svg" class="grid-img" alt="">
                    <h5>Building Brand</h5>
                </div>
                <div class="arrow-expand">
                    <a href="#"><img src="../../assets/icons/modishcard-memebers/left-arrow-vector.svg" alt=""></a>
                </div>
            </div>
            <div class="grid-items">
                <div class="grid-item-1 grid-item-container">
                    <img src="../../assets/icons/modishcard-memebers/crm-integration.svg" class="grid-img" alt="">
                    <h5>CRM Integration</h5>
                </div>
                <div class="arrow-expand">
                    <a href="#"><img src="../../assets/icons/modishcard-memebers/left-arrow-vector.svg" alt=""></a>
                </div>
            </div>
            <div class="grid-items">
                <div class="grid-item-1 grid-item-container">
                    <img src="../../assets/icons/modishcard-memebers/build-traffic.svg" class="grid-img" alt="">
                    <h5>Build Traffic</h5>
                </div>
                <div class="arrow-expand">
                    <a href="#"><img src="../../assets/icons/modishcard-memebers/left-arrow-vector.svg" alt=""></a>
                </div>
            </div>
        </div>
    </div>
</section>
<div class="fluid-container s-networking-100">
    <section class="c-container s-networking">
        <div class="smart-networking">
            <div class="smart-networking-description">
                <h1>Smart Networking</h1>
                <h6>We believe in Business Card with True ROI</h6>
                <p>Smart networks are intelligence networks that identify and transfer the network itself using
                    protocols that recognize what is (deep learning technology), validate, confirm and route (Blockchain
                    technology) transactions inside the Network.</p>
                <a href="#"><span>Learn More A</span>bout it</a>
            </div>
            <div class="smart-networking-banner">
                <img src="../../assets/icons/smart-networking/smart-networking-banner.svg" alt="">
            </div>
        </div>
    </section>
</div>
<div class="fluid-container crm-integration-100">
    <section class="c-container crm-integr">
        <div class="crm-integration">
            <div class="crm-integration-banner">
                <img src="../../assets/icons/crm-integration/crm-integration-banner.svg" alt="">
            </div>
            <div class="crm-integration-description">
                <h1>CRM Integration</h1>
                <h6>Get more by integrating with Modishcard Integration.</h6>
                <p>The Admin Dashboard will provide you access to the universe of integrations you may unlock. We
                    connect your processes with hundreds of business tools, generate efficiencies across your sales
                    pipeline and help foster leadership.</p>
                <a href="#"><span>Explore Integr</span>ations</a>
            </div>
        </div>
    </section>
</div>
<div class="c-container">
    <div id="carouselExampleIndicators" class="carousel slide" data-bs-ride="carousel">
        <div class="carousel-indicators">
            <button type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide-to="0" class="active"
                aria-current="true" aria-label="Slide 1"></button>
            <button type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide-to="1"
                aria-label="Slide 2"></button>
            <button type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide-to="2"
                aria-label="Slide 3"></button>
        </div>
        <div class="slide-show">
            <span class="business-switch">Business</span>
            <div class="bar">
                <div class="individual-bar carousel-control-next" type="button"
                    data-bs-target="#carouselExampleIndicators" data-bs-slide="next"></div>
                <div class="business-bar carousel-control-prev" type="button"
                    data-bs-target="#carouselExampleIndicators" data-bs-slide="prev"></div>
            </div>
            <span class="individual-switch">Individual</span>
        </div>
        <div class="carousel-inner">
            <div class="carousel-item active">
                <div class="digital-business-cards">
                    <div class="digital-business-banner">
                        <img src="../../assets/icons/digital-business-cards/banner.svg" alt="">
                    </div>
                    <div class="digital-business-descriptions">
                        <h1>Digital business cards for the entire team</h1>
                        <h6>Remain up-to-date with your main database.</h6>
                        <p>It is essential to have consistency throughout business cards. Employee permissions
                            facilitate the administration of templates and degrees of access to your brand. It also
                            incorporates the entire automation of business cards with HR integration. It also helps
                            maintain your CRM contacts by synchronizing your team's cards straight into your CRM.</p>
                        <a href="#">For Business</a>
                    </div>
                </div>
            </div>
            <div class="carousel-item">
                <div class="digital-business-cards">
                    <div class="digital-business-banner">
                        <img src="../../assets/icons/individual-cards/individual-card-banner.svg" alt="">
                    </div>
                    <div class="digital-business-descriptions">
                        <h1>Digital Business Cards For Individual Professionals</h1>
                        <h6>Remain up-to-date with your main database.</h6>
                        <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut
                            labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco
                            laboris nisi ut aliquip </p>
                        <a href="#">For Individuals</a>
                    </div>
                </div>
            </div>

        </div>
    </div>

    <!-- <div class="digital-business-cards">
    <div class="digital-business-banner">
      <img src="../../assets/icons/digital-business-cards/banner.svg" alt="">
    </div>
    <div class="digital-business-descriptions">
      <h1>Digital business cards for the entire team</h1>
      <h6>Remain up-to-date with your main database.</h6>
      <p>It is essential to have consistency throughout business cards. Employee permissions facilitate the administration of templates and degrees of access to your brand. It also incorporates the entire automation of business cards with HR integration. It also helps maintain your CRM contacts by synchronizing your team's cards straight into your CRM.</p>
      <a href="#">For Business</a>
    </div>
  </div>
  <div class="digital-business-cards">
    <div class="digital-business-banner">
      <img src="../../assets/icons/digital-business-cards/banner.svg" alt="">
    </div>
    <div class="digital-business-descriptions">
      <h1>Digital business cards for the entire team</h1>
      <h6>Remain up-to-date with your main database.</h6>
      <p>It is essential to have consistency throughout business cards. Employee permissions facilitate the administration of templates and degrees of access to your brand. It also incorporates the entire automation of business cards with HR integration. It also helps maintain your CRM contacts by synchronizing your team's cards straight into your CRM.</p>
      <a href="#">For Business</a>
    </div>
  </div> -->
</div>
<div class="c-container">
    <div class="pricing-container">
        <div class="banner-pricing-plans">
            <img src="../../assets/icons/pricing-section/plans-pricing.svg" alt="">
        </div>
        <div class="pricing-details-descriptions">
            <img src="../../assets/icons/pricing-section/label-price.svg" class="label-price" alt="">
            <h1>Pricing</h1>
            <h5>#GoPremium</h5>
            <h6>Subscribe for a month or for the year—it’s up to you.</h6>
            <p>You can unlock many features like customization of profile link, editting of card templates and many more
                on going pro with Modishcard.</p>
            <a href="#">View Pricing</a>
        </div>
    </div>
</div>